<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div style="border-bottom: 2px solid #da6122">
  <img src="./../../assets/images/logo.png" />
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link"
      id="home-tab"
      routerLink="home"
      routerLinkActive="active"
      role="tab"
      >Daily Updates</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="profile-tab"
      routerLink="request"
      routerLinkActive="active"
      role="tab"
      >Http Client</a
    >
  </li>
</ul>
<!-- <app-demo-formarray></app-demo-formarray> -->
<router-outlet></router-outlet>
