.container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.click{
  margin-left: 80px;
}
.btn{
  background-color: #DA6427;
    color: #fff;
}